@media (max-width: 767px) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
        gap: 5vh;
    }
}

@media (min-width: 767px) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
        gap: 6vh;
    }
}