.body {
    background-color: rgb(255, 255, 255);
}

@media (max-width: 767px) {
    .body {
        width: 90%;
        box-shadow: 0 0 5px 2px rgb(212, 212, 212);
        border-radius: 7.5px;
        padding: 1.5%;
        min-height: 5vh;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .title {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        margin: 5% 5% 0 5%;
    }

    .profileIcon {
        transform: scale(1.75);
        margin-right: 4%;
    }

    .aboutMeParagraph {
        margin: 3% 4%;
    }

    .container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0;
    }

    .box {
        width: 45%;
        min-height: 12.5vh;
        height: auto;
        border-radius: 10px;
        margin-bottom: 2%;
        perspective: 1000px;
        cursor: pointer;
    }

    .inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d;
    }

    .back > * {
        color: white;
    }

    .back > *:nth-child(-n+1) {
        margin-bottom: 5%;
    }

    .back > p:nth-child(-n+2) {
        font-size: 125%;
    }

    .back > p:nth-child(n+3) {
        font-size: 70%;
    }

    .flipped .inner {
        transform: rotateY(180deg);
    }

    .front, .back {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        backface-visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }

    .front {
        color: transparent;
    }

    .back {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #f0f0f0;
        transform: rotateY(180deg);
        color: #333;
    }

    .cursorPulse {
        animation: pulse;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.035);
        }
        100% {
            transform: scale(1);
        }
    }
}

@media (min-width: 767px) {
    .body {
        width: 60%;
        box-shadow: 0 0 5px 2px rgb(212, 212, 212);
        border-radius: 7.5px;
        min-height: 5vh;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .title {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        margin: 5% 5% 0 3.6%;
    }

    .profileIcon {
        transform: scale(1.75);
        margin-right: 1.45%;
    }

    .aboutMeParagraph {
        margin: 3% 3.25%;
        font-size: large;
    }

    .container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0;
        margin-bottom: 1.5%;
    }

    .box {
        width: 45%;
        min-height: 12.5vh;
        height: auto;
        border-radius: 10px;
        margin-bottom: 2%;
        perspective: 1000px;
        cursor: pointer;
    }

    .inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d;
    }

    .back > * {
        color: white;
    }

    .back > *:nth-child(-n+1) {
        margin-bottom: 1vh;
    }

    .back > p:nth-child(-n+2) {
        font-size: 125%;
    }

    .back > p:nth-child(n+3) {
        font-size: 70%;
    }

    .flipped .inner {
        transform: rotateY(180deg);
    }

    .front, .back {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        backface-visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        box-shadow: 2 2 6px 2px rgb(207, 207, 207);
    }

    .front {
        color: transparent;
    }

    .back {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #f0f0f0;
        transform: rotateY(180deg);
        color: #333;
    }

    .cursorPulse {
        animation: pulse;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.035);
        }
        100% {
            transform: scale(1);
        }
    }
}


@media (min-width: 767px) and (max-width: 1440px) {
    .body {
        width: 80%;
    }
}