.body {
    background-color: white;
}

@media (max-width: 767px) {
    .body {
        width: 90%;
        box-shadow: 0 0 5px 2px rgb(212, 212, 212);
        border-radius: 7.5px;
        min-height: 5vh;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .title {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        margin: 5% 5% 5% 7%;
    }

    .profileIcon {
        transform: scale(1.75);
        margin-right: 4%;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        gap: 1rem;
        width: 95%;
    }

    .formContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .input {
        width: 92.5%;
        border-width: 0;
        box-shadow: 0 0 2.5px 2.5px rgb(222, 222, 222);
        border-radius: 4px;
        resize: none;
    }

    .label {
        align-self: flex-start;
        margin: 0 0 1% 3.6%;
    }

    .form {
        color-scheme: white;
    }

    .button {
        width: 92.5%;
        height: 3.5vh;
        background-color: #0f172a;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 2% 0 4% 0;
    }
}

@media (min-width: 767px) {
    .body {
        width: 60%;
        box-shadow: 0 0 5px 2px rgb(212, 212, 212);
        border-radius: 7.5px;
        min-height: 5vh;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .title {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        margin: 3.5% 5% 2% 6.25%;
    }

    .profileIcon {
        transform: scale(1.75);
        margin-right: 2%;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        gap: 1rem;
        width: 95%;
    }

    .formContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .input {
        width: 92.5%;
        border-width: 0;
        padding: 1vh 0;
        box-shadow: 0 0 2.5px 2.5px rgb(222, 222, 222);
        border-radius: 4px;
        resize: none;
    }

    .label {
        align-self: flex-start;
        margin: 0 0 1% 3.6%;
    }

    .form {
        color-scheme: white;
    }

    .button {
        width: 92.5%;
        height: 3.5vh;
        background-color: #0f172a;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 2% 0 4% 0;
    }
}

.button {
    box-shadow: 2 3 4px 2px rgb(207, 207, 207);
    transition-duration: 0.25s;
}

.button:hover {
    transform: scale(1.025);
}