.body {
    background-color: white;
}

@media (max-width: 767px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3vh;
    }

    .title {
        display: flex;
        font-size: 150%;
        font-weight: bold;
        white-space: pre;
    }

    .letter {
        position: relative;
        display: inline-block;
        opacity: 0;
        transform: translateY(8px);
        animation: fadeIn 0.2s forwards;
    }
    
    @keyframes fadeIn {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .header > h3 {
        margin-bottom: 1.75vh;
    }

    .header > h4 {
        margin-bottom: 3vh;
        word-wrap: break-word;
        text-align: center;
        width: 90%;
    }

    .header > h1 {
        font-size: 6vw;
        font-weight: 100;
        margin-top: .75vh;
        margin-bottom: .75vh;
    }
    
    .photo {
        width: 23%;
        clip-path: circle();
        margin-top: 2vh;
    }

    .roundedTexts {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .iconTextButtons {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 90%;
    }
}

@media (min-width: 767px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5.5vh;
    }

    .title {
        display: flex;
        font-size: 150%;
        font-weight: bold;
        white-space: pre;
    }
    
    .letter {
        position: relative;
        display: inline-block;
        opacity: 0;
        transform: translateY(8px);
        animation: fadeIn 0.2s forwards;
    }
    
    @keyframes fadeIn {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .header > h3 {
        margin-bottom: 2vh;
    }

    .header > h4 {
        margin-bottom: 3vh;
        word-wrap: break-word;
        text-align: center;
        width: 90%;
    }

    .header > h1 {
        font-size: 2vw;
        font-weight: 100;
        margin-bottom: 2vh;
    }
    
    .photo {
        min-width: 7rem;
        max-width: 7.5%;
        clip-path: circle();
        margin-top: 2vh;
    }

    .roundedTexts {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-bottom: 1.5vh;
    }

    .iconTextButtons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.75vw;
    }
}