.box {
    background-color: white;
}

@media (max-width: 767px) {
    .body {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    .box {
        box-shadow: 0 0 5px 2px rgb(212, 212, 212);
        border-radius: 7.5px;
        padding: 1.5%;
        min-height: 5vh;
        width: 100%;
        padding: 4% 0 4% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .topContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .topLeftContainer {
        width: 95%;
    }

    .containerTitle {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .topBox {
        width: 5.5vh;
        height: 5.5vh;
        padding: 2vh 2vh;
        margin: 2% 5%;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .topTitle {
        font-size: 1.1rem;
        font-weight: 700;
    }

    .topRightContainer {
        width: 90%;
        height: 20vh;
        margin-top: 4%;
        margin-bottom: 2%;
        border-radius: 2.25%;
        overflow: hidden;
    }

    .topRightContainerImage {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .text {
        margin: 0 2% 2% 5%;
        font-size: medium;
        font-weight: 200;
        color: gray;
    }

    @media (max-width: 465px) {
        .tagContainer {
            display: flex;
            justify-content: center;
            align-self: center;
            gap: 5%;
            width: 95%;
            margin-top: 3%;
        }
    }

    @media (min-width: 465px) {
        .tagContainer {
            display: flex;
            justify-content: flex-start;
            gap: 5%;
            margin-left: 5%;
            margin-top: 2%;
        }
    }

    .tag {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: auto;
        background-color: rgb(237, 237, 237);
        border-radius: 8px;
        padding: 0.25vh 3%;
    }

    .tagText {
        text-wrap-mode: nowrap;
        font-size: small;
    }

    .bottomButtonsSolo {
        width: 90%;
    }

    .bottomButtonsDuo {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    .lowButton, .lowButtonDuo {
        align-self: center;
        width: 100%;
        height: 3vh;
        border-radius: 5px;
        margin: 2.5% 0 1% 0;
        background-color: rgb(237, 237, 237);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2%;
        transition: 0.2s;
    }

    .lowButtonDuo {
        width: 48.5%;
    }

    .lowButton:hover, .lowButtonDuo:hover {
        transform: scale(1.025);
    }

    .lowIcon {
        transform: scale(1)
    }

    .lowButtonText {
        font-size: small;
    }
}

@media (min-width: 767px) {
    .body {
        width: 60%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    .box {
        box-shadow: 0 0 5px 2px rgb(212, 212, 212);
        border-radius: 7.5px;
        min-height: 5vh;
        width: 100%;
        padding: 1% 0 2.5% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .topContainer {
        width: 90%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .topLeftContainer {
        width: 55%;
        height: 80%;
    }

    .topRightContainer {
        height: 25vh;
        width: 37%;
        margin-top: 2%;
        border-radius: 2.25%;
        overflow: hidden;
    }

    .topRightContainerImage {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .topBox {
        width: 5vh;
        height: 5vh;
        padding: 1vh 1vh;
        margin: 5% 5% 0 0;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .topTitle {
        margin: 2.5% 0 2% 0;
        font-size: medium;
        font-weight: 600;
    }

    .text {
        margin: 0 2% 2% 0;
        font-size: medium;
        font-weight: 200;
        color: gray;
        width: 100%;
    }

    .tagContainer {
        display: flex;
        justify-content: flex-start;
        gap: 5%;
    }

    .tag {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: auto;
        background-color: rgb(237, 237, 237);
        border-radius: 8px;
        padding: 0.25vh 7.5%
    }

    .tagText {
        white-space: nowrap;
        font-size: small;
    }

    .bottomButtonsSolo {
        width: 90%;
    }

    .bottomButtonsDuo {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    .lowButton, .lowButtonDuo {
        align-self: center;
        width: 100%;
        height: 3vh;
        border-radius: 5px;
        margin: 2.5% 0 1% 0;
        background-color: rgb(237, 237, 237);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2%;
        transition: 0.2s;
    }

    .lowButtonDuo {
        width: 48.5%;
    }

    .lowButton:hover, .lowButtonDuo:hover {
        transform: scale(1.025);
    }

    .lowIcon {
        transform: scale(1.2)
    }

    .lowButtonText {
        font-size: medium;
    }
}

@media (min-width: 767px) and (max-width: 1026px) {
    .body {
        width: 80%;
    }

    .box {
        padding: 2.5% 0 1.5% 0;
    }

    .topContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
    }

    .topLeftContainer {
        width: 100%;
        height: 80%;
    }

    .topRightContainer {
        height: 25vh;
        width: 100%;
        margin-bottom: 1%;
        border-radius: 1.5%;
    }

    .topRightContainerImage {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .tagContainer {
        margin-bottom: 2%;
    }

    .text {
        width: 100%;
    }
}

.tag {
    box-shadow: 2 3 4px 2px rgb(227, 227, 227);
}

.lowButton, .lowButtonDuo {
    box-shadow: 2 3 4px 2px rgb(219, 219, 219);
}