.testimonial {
    background-color: white;
}

@media (max-width: 767px) {
    .body {
        width: 90%;
        min-height: 5vh;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3vh;
    }

    .testimonial {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 1.75%;
        min-height: 5vh;
        box-shadow: 0 0 5px 2px rgb(212, 212, 212);
        border-radius: 7.5px;
        transition: 0.2s;
    }

    .testimonial:hover {
        transform: scale(1.025);
    }

    .text {
        width: 95%;
        margin: 2.5% 0 2% 0;
        font-style: italic;
        color: gray;
    }

    .user {
        align-self: flex-start;
        display: flex;
        margin: 0 2.5% 1.5% 1.75%;
    }

    .userIcon {
        transform: scale(1.5);
        margin: 0 1vh 1vh 1vh;
        position: relative;
        top: 0.125rem;
    }

    .userName {
        font-size: medium;
        font-weight: 500;
        cursor: pointer;
        text-decoration: underline;
    }
}

@media (min-width: 767px) {
    .body {
        width: 70%;
        min-height: 5vh;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3vh;
    }

    .testimonial {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        min-height: 5vh;
        box-shadow: 0 0 5px 2px rgb(212, 212, 212);
        border-radius: 7.5px;
        transition: 0.2s;
    }

    .testimonial:hover {
        transform: scale(1.025);
    }

    .text {
        width: 95%;
        margin: 2.5% 0 1% 2%;
        font-style: italic;
        color: gray;
    }

    .user {
        width: auto;
        display: flex;
        align-self: flex-start;
        text-wrap: nowrap;
        gap: 5%;
        margin: 0 2% 2% 2.5%;
    }

    .userIcon {
        transform: scale(2.5);
        margin-right: 0.25vw;
        position: relative;
        top: 0.125rem;
    }

    .userName {
        font-size: medium;
        font-weight: 500;
        cursor: pointer;
        text-decoration: underline;
    }
}